.main {
  width: 1920px;
  height: 2600px;
}
.logo {
  margin: 0 auto;
}

.logoWrapper {
  top: 40px;
  left: 65px;
  position: relative;
}

.navWrapper {
  top: 150px;
  left: 55px;
  position: relative;
  height: 790px;
  width: 54px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buttonsWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 37.85px;
  height: 464px;
  width: 54px;
}

.filmWrapper {
  width: 886px;
  height: 482px;
  position: absolute;
  top: 294px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filmWrapperText {
  color: #ffffff;
  width: 886px;
  height: 102px;

  font-size: 37px;
  line-height: 51px;
  text-align: center;
  letter-spacing: 0.35px;
}
.filmWrapperButtons {
  display: flex;
  column-gap: 24px;
  width: 510px;
  margin: 0 auto;
}

.filmWrapperButton1 {
  background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
  width: 243px;
  height: 80px;
  border-radius: 16px;

  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #ffffff;
}

.filmWrapperButton2 {
  margin: 0 auto;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.125) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );

  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  border-radius: 16px;
  width: 243px;
  height: 80px;
}
.filmWrapperButton1:hover,
.filmWrapperButton2:hover {
  cursor: pointer;
  border: 4px solid #2575fc;
  border-radius: 28px;
}
.startImg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  overflow: auto;
}
.novinkiWrapper {
  margin-top: 28px;
  margin-left: 215px;
}
.novinkiWrapperText {
  width: 170px;
  height: 51px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: #ffffff;
}

.novinkiWrapperCards {
  width: 1724px;
  height: 653px;
}

.topWrapper {
  margin-top: 128px;
  margin-left: 225px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.topWrapperText {
  font-style: normal;
  font-style: italic;
  font-weight: 900;
  font-size: 52px;
  -webkit-text-stroke: 3px rgba(37, 117, 252, 1);
}
.topWrapperTextSimple {
  font-family: TT Norms Pro;
  font-size: 40px;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.topWrapperCards {
  width: 1920px;
  height: 597px;
  position: relative;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
